
@{
    ViewBag.Title = "process";
}


@using (Html.BeginForm())
{
<div>
    <center><b>Process Application Form</b></center>
</div>
<div style="height:40px">

</div>
<div>
    <label>Enter Application Id</label>
    @Html.TextBox("txtid")
    <input type="submit" value="status" name="command" />
</div>
<div style="height:40px">

</div>
<div>
    <label>Enter comments</label>
    @Html.TextBox("txtcmt")
    
</div>
<div>
    <input type="submit" value="Submit" name="command" />
</div>
}